# OS and editor files
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv/
venv/
ENV/
.env.local
*.env

# Django/Logs/Runtime
media/
*.log
*.sqlite3

# Node/Flutter/Other
node_modules/
flutter/

# Tests and fixtures
# /tests/
# *_test.py
# *test_*.py
# **/tests/**

# Local scripts and debug
**/management/commands/test_*.py
scripts/
*.ipynb

# Large/binary files
*.mov
*.mp4
*.avi
*.zip
*.tar
*.gz
*.rdb

# Coverage and reports
.coverage
htmlcov/
TEST-*.xml
coverage.xml

# Migrations cache (keep migrations but ignore pycache)
**/migrations/__pycache__/

# Exclude Django app test modules named tests.py
**/tests.py

# Firebase Credentials
yalla-gym-f6a67-firebase-adminsdk-fbsvc-fb99d3a33f.json
firebase-credentials.json

# Redis
*.rdb
dump.rdb
